@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
}

h1.title{
  /* position: absolute; */
  text-align: center;
}

/* .homePageImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 50%;
  max-height: 50%;
  object-fit: fill;
  height: auto;
} */

ul.sidebar {
  list-style-type: none;
  padding: 10px 30px 0px 20px;
  margin: 0;
  line-height: 30px;
  /* display: flexbox; */
  flex-direction: row;
  overflow-y: scroll;
  height: 1000px;
  width: fit-content;
  background-color: rgb(113, 114, 136);
}

ul.filmSidebar {
  list-style-type: none;
  padding: 10px 20px 0px 20px;
  margin: 0;
  line-height: 30px;
  flex-direction: row;
  width: fit-content;
  height: 170vh;
  background-color: rgb(113, 114, 136);
}

ul.filmSidebar li a {
  text-decoration: none;
  color: white;
}

ul.filmSidebar li a.active {
  color: rgb(255, 255, 255);
  padding: 2px 11px 2px 11px;
  border-radius: 14px;
  background-color: #3f3e43;
}


ul.sidebar li a {
  color: white;
  text-decoration: none;
}

ul.sidebar li a.active {
  color: rgb(255, 255, 255);
  padding: 2px 11px 2px 11px;
  border-radius: 14px;
  background-color: #3f3e43;
}

nav.homeNav p {
  font-size: 25px;
}

nav.threeNav {
  display: flex;
  margin-top: 4px;
  margin-left: 30px;
}

nav ul {
  background-color: rgb(99, 107, 254);
  /* padding: 10px; */
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav p {
  font-size: 19px;
  margin: 10px;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover{
  color: rgb(177, 157, 255);
  /* font-size: 21px; */
  /* text-decoration: underline; */
}

nav a.active {
  color: rgb(255, 255, 255);
  padding: 14px 11px 13px 11px;
  border-radius: 14px;
  background-color: #3f3e43;
}

.mainInfo{
  position: absolute;
  left: 300px;
  height: fit-content;
}
